*
  margin: 0
  padding: 0

.clearfix:after
  content: ""
  display: table
  clear: both

a
  text-decoration: none

.container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
.flex-container
  margin-bottom: 20px

.input
  outline: none
  border-radius: 10px
  text-align: center
  font-size: 20px
  border: 1px solid black
  padding: 5px
  margin: 2px

.confirm
  cursor: pointer
p
  color: #ff6c13
  font-size: 20px

.task-style
  font-size: 25px
  margin-bottom: 20px